<%= simple_form_for [:admin, @picture] do |f| %>
	<fieldset>
		<legend><%= t("admin.buttons.new", :model => @picture.class.model_name.human) %></legend>
		<%= error_messages_for @picture, :class => "control-group alert alert-error fade in", :close => :true %>
		<% if %w(edit update).include?(action_name) %>
      <%= f.input :title, :input_html => { :class => "span5" } %>
    <% end %>
    <% if %w(edit update).include?(action_name) or @place.blank? %>
      <%= f.association :scenic %>
      <%= f.association :place %>
    <% else %>
      <%= f.input :scenic_id, :as => :hidden, :input_html => { :value => @place.scenic_id } %>
      <%= f.input :place_id, :as => :hidden, :input_html => { :value => @place.id } %>
    <% end %>
    <% if %w(new create).include?(action_name) or !@picture.place_id.zero? %>
      <%= f.input :image, :as => :file %>
    <% end %>
    <%= image_tag(@picture.image.thumb.url) if @picture.image? %>
		<div class="form-actions">
			<%= f.button :submit, :class => "btn-primary" %>
			<%= link_to t("admin.buttons.cancel"), admin_pictures_path, :class => :btn %>
		</div>
	</fieldset>
<% end -%>