<%- model_class = Place -%>
<%= render "base" %>
<%= simple_form_for :place, :url => nil, :html => { :class => "destroies-form" }  do |f| -%>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="selected"><%= check_box_tag "selected" %></th>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th class="num"><%= model_class.human_attribute_name(:pictures_count) %></th>
        <th class="date"><%= model_class.human_attribute_name(:created_at) %></th>
        <th class="action"><%= t("admin.links.action") %></th>
      </tr>
    </thead>
    <tbody>
			<%= render "places" %>
    </tbody>
  </table>
<% end -%>

<div class="table-footer clearfix">
  <div class="paginates-info"><%= page_entries_info @places %></div>
  <%= paginate @places, :theme => "admin" %>
</div>