<% @scenics.each do |scenic| %>
  <tr>
    <td class="select-all">
      <%= check_box_tag "scenic_ids[]", scenic.id, false, :id => "scenic_#{scenic.id}" %>
    </td>
    <td class="content"><h6><%= link_to scenic.name, admin_scenic_places_path(scenic) %></h6></td>
    <td class="num"><%= scenic.places_count %></td>
    <td class="date"><%= l scenic.created_at.to_date, :format => :long %></td>
    <td class="action">
      <%= link_to raw("<i class=\"icon-plus icon-large\"></i>"), 
                  new_admin_scenic_place_path(scenic), 
                  :title => t("admin.pages.places.new"),
                  :rel => :tooltip %>
      <%= link_to raw("<i class=\"icon-edit icon-large\"></i>"), 
                  edit_admin_scenic_path(scenic), 
                  :title => t("admin.buttons.edit", :model => scenic.name),
                  :rel => :tooltip %>
      <%= link_to raw("<i class=\"icon-trash icon-large\"></i>"),
                  admin_scenic_path(scenic),
                  :method => :delete,
                  :title => t("admin.buttons.destroy", :model => scenic.name),
                  :data => { :confirm => t("admin.messages.confirm") },
                  :rel => :tooltip %>
    </td>
  </tr>
<% end %>